* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  background: url(../images/banner.PNG) center no-repeat;
  min-height: 75vh;
  width: 100%;
  box-sizing: cover;
  background-position: center;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}
